<h1>{{name}}</h1>
<h3>Occupation: {{occupation}}</h3>
<p>Catch Phrase: {{catchPhrase}}</p>
<a href="/celebrities/{{id}}/edit">Edit Celeb</a>
<hr />

<p>Add a review</p>
<form action="/reviews/{{id}}/add" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Comment</label>
    <textarea name="comment"></textarea>

    <button type="submit">Add review</button>
</form>
<hr />
{{#each reviews}}
<p>{{comment}} - {{name}}</p>
{{/each}}